{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daily Grind</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static '/inventory/css/bootstrap.min.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <h1><a href="/inventory" class="navbar-brand">Daily Grind</a></h1>

            {%if user.is_authenticated%}
            <!--Put a 1 at the end of item_detail to denote my methods-->
                <form class="form-inline" method="POST" action="{% url 'item_detail1' %}">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-bar" name="search-bar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search </button>
                </form>
                <a href="{% url 'logout' %}">Log Out</a>
        </nav>
                {% block content %}
                {% endblock %}
            {%else%}
                <p>Login <a href="/login">Here</a></p>
            {%endif%}
    </body>
</html>