{% load static %}
<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Daily Grind</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body class="h-100">
        <nav class="navbar navbar-light bg-light">
            <h1><a href="/inventory" class="navbar-brand">Daily Grind</a></h1>
            {%if user.is_authenticated%}

            <div>
                <a role="button" class="btn btn-outline-secondary" href="{% url 'inventory:item_add'%}">Add Item</a>
                <a role="button" class="btn btn-outline-secondary" href="{% url 'inventory:inventory' %}">View Inventory</a>
                <a role="button" class="btn btn-outline-secondary" href="{% url 'logout' %}">Log Out</a>
            </div>
        </nav>
                {% block content %}
                {% endblock %}
            {%else%}
                <p>Login <a href="/login">Here</a></p>
            {%endif%}
    </body>
</html>