{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Daily Grind</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <header class="page-header">
        <div class="container">
            <h1><a href="/">Daily Grind</a></h1>
        </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {%if user.is_authenticated%}
                    <a href="{% url 'logout' %}">Log Out</a>
                        <form method="POST">
                            <label for="search-label">Search</label>
                             <input type="text" id="search-bar" name="search-bar">
                             <button type="submit"> Search </button>
                        </form>
                    {% block content %}
                    {% endblock %}
                {%else%}
                    <p>Login <a href="/login">Here</a></p>
                {%endif%}
                </div>
            </div>
        </main>
    </body>
</html>