{% extends 'inventory/base.html' %}

{% block content %}
    <h1>Search Results<h1><br>
    <div class="test">
    <form class="update-item" method="POST" action="{% url 'update_information' %}">
        {% csrf_token %}

        {% for result in results %}
        {{ result.sc_name }}
        <button name = "update" value ="{{result.sc_name}}" type = submit>Update</button>
        <input type="hidden" name="hidden-daily-demand" value="{{result.sc_daily_demand}}">
        <input type="hidden" name="hidden-popularity" value="{{result.sc_popularity}}">
        <input type="hidden" name="hidden-days-before-out" value="{{result.sc_days_before_out}}">
        <br/>
        {% endfor %}
    </form>
    </div>
    
{% endblock %}